.item__show{
  background-color: lightsalmon;
  width: 100%;
  min-height: 100%;
  &__main{
    font-size: 18px;
    display: flex;
    height: 80vh;
    width: 100%;
    &__picture{
      width: 45%;
      &--box{
      margin: 30px;
      border-radius: 10px;
      border: 1px solid lightgray;
      overflow: hidden;
      height: 450px;
      box-shadow: 0 0 5px rgba(0,0,0,0.4);
      padding: 1px;
      background-color: white;
      }
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    
    &__data{
      width: 60%;
      padding: 20px;
      &--name{
        display: flex;
        margin-bottom: 10px;
        
      }
      &--maker{
        margin-bottom: 10px;
      }
      &--description{
        background-color: white;
        width: 90%;
        height: 20vh;
        padding: 10px;
        overflow: scroll;
      }
      &--category{
        margin-bottom: 10px;
      }
    }
  }

}

.item_data{
  &__name{
    font-size: 60px;
    margin-right: 20px;
  }
  &__price{
    font-size: 20px;
    margin-top: 40px;
  }
}
.item_review{
  &__total{

  }

  &__list{
    overflow: scroll;
    background-color: chartreuse;
    max-height: 25vh;
    padding: 10px;
    margin-top: 10px;
    width: 90%;
  }
}
.review{
  display: flex;
  height: 20vh;
  background-color: cadetblue;
  padding: 10px;
  &__content{
    margin-right: 100px;
  }
}

.item_edit{
  display: flex;
  width: 45%;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5px;
  background-color: lightblue;
  &__update{
    margin-right: 5px;
    background-color: whitesmoke;
    padding: 5px;
  }
  &__delete{
    background-color: whitesmoke;
    padding: 5px;

  }
}
