.item__show{
  &__main{
    font-size: 18px;
    display: flex;
    &__picture{
      margin: 20px;
      border-radius: 10px;
      border: 1px solid lightgray;
      overflow: hidden;
      width: 600px;
      height: 600px;
      background-color: white;
      box-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__data{
      &--name{
        display: flex;
        margin-bottom: 10px;
      }
      &--maker{
        margin-bottom: 10px;
      }
      &--description{
        background-color: white;
        width: 700px;
        height: 30vh;
        padding: 10px;
        overflow: scroll;
      }
      &--category{
        margin-bottom: 10px;
      }
    }
  }
  background-color: lightsalmon;
  width: 100%;
  min-height: 100vh;
}

.item_data{
  &__name{
    font-size: 60px;
    margin-right: 20px;
  }
  &__price{
    font-size: 20px;
    margin-top: 40px;
  }
}

.review{
  display: flex;
  justify-content: space-around;
  &__content{
    margin-right: 100px;
  }
}

.comment{

}