.main
  .main__contents
    自分の好きなビールだったり、気になるビールや、挑戦したことのない種類のビールなど
    様々なビールについて語り合うレビューサイト  

    .main__contents__btn
      .main__contents__btn--join
        -if !user_signed_in?
          = link_to new_user_session_path do
            投稿する
            %br/
            （ユーザー登録・ログインが必要です）
        -else
          = link_to new_user_session_path do
            投稿する
            %br/
            （ユーザー登録が必要です）
      
      .main__contents__btn--show
        レビューを見る
    -# .main__contents__review
    -#   レビュー
    -#   .item
    -#     Beer
    -#     .item__contents
    -#       .item__image
    -#         写真
    -#       .item__name
    -#         アイテム名

    -#   .shop
    -#     Shop
    -#     .shop__image
    -#       店舗写真
    -#     .shop__name
    -#       店舗名
