.main
  .main__contents
    .main__contents__review
      レビュー
      .item
        Beer
        .item__contents
          .item__image
            写真
          .item__name
            アイテム名

      .shop
        Shop
        .shop__image
          店舗写真
        .shop__name
          店舗名
