.header{
  border-bottom: solid 1px rgb(175, 175, 175);
  min-width: 50%;
  max-height: 30vh;
  a{
    text-decoration: none;
    color: black;
    &:hover{
      border-bottom: solid 1px orange;
    }
  }
  &__contents{
    min-height: 82px;
    min-width: 50%;
    margin: 0 auto;
    padding: 15px ;

    &__top {
      font-family: fantasy;
      font-size: 50px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      display: flex;
      
    }
    .sub{
      font-size: 20px;
      text-align: center;

    }
    &__bottom{
      display: flex;
      position: absolute;
      right: 130px;
      top: 100px;
      &__left{
        margin-right: 10px;
      }
      &__right{
        margin-right:10px;
      }
    }
  }
}

.add{
  width: 180px;
  text-align: center;
  border-radius: 20%;
  bottom: 32px;
  height: 150px;
  right: 32px;
  position: fixed;
  padding: 15px;
  background-image: image-url("icon.png");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  &__title{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    width: 50%;
    margin: auto;
    position: absolute;
    bottom: 50px;
    right: 65px;
  }
}