.user{
  &__header{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    &__title{
      font-size: 30px;
      margin: auto;
      width: 100%;
      text-align: center;
    }
    &__change{
      margin-right: 150px;
      width: 200px;
      margin: auto;
    }
    }
  &__profile{
    display: flex;
    &__images{
      border:1px solid lightblue;
      margin: 20px;
      width: 30%;
      padding: 20px;
      text-align: center;
      .user__profile__image{
        width: 200px;
        height: 200px;
        border-radius: 60px;
        border: 1px solid blue;
        box-shadow: 0 0 4px black;
        image{
          overflow: hidden;

        }
      }
    }
    &__status{
      font-size: 24px;
      margin-left: 100px;
      margin-top: 15px;
      &__favorite{
        margin: 50px 0 20px 0;
        font-size: 18px;
      }
      &__profiles{
        font-size: 18px;
      }
    }
  }
  &__review_item{
    display: flex;
    width: 100%;
    min-height: 500px;
    flex-wrap: wrap;
    background-image: image-url("wood-texture");
    .item_list_wall{
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      background-image: image_url("paper-texture");
      background-size: cover;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
    }
    &__list{
      margin: 15px;
      background-image: image-url("9335");
      background-size: cover;
      width: 250px;
      height: 200px;
      padding: 20px;
      transition-duration: 300ms;
      text-align: center;
  
      &:hover{
          transform:translateZ(500px) rotateX(15deg);
      }
      &__image{

        .user__review__image{
          width: 180px;
          height: 150px;
          overflow: hidden;
          border-radius: 20px;
          margin-top: 5px;
        }
      }
      &__status{
        &__name{

        }
        &__maker{

        }
      }
    }
  }
}

.user_review_item{
  margin: 20px;
}

.profile_field{
  background-color: rgb(255, 205, 113);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  padding: 20px 10px;
}
.profile_submit{
  text-align: center;
  margin-top: 10px;
  input{
    width: 20%;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(250, 197, 100);
    color: white;
    transition-duration: 200ms;
    &:hover{
      background-color: white;
      color: orange;
      transition: 200ms;
      border-radius: 20px;
    }
  }
}